
/*============================================================================*/
/* Accordion                                                                  */
/*============================================================================*/
.Accordion@THEME_CSS@ {
    padding: 0;
    width: 100%;  /* default, can be overridden by supplying a style attribute */
    overflow: hidden;
    border-top: thin solid #81939b;
}

.AccdHeader@THEME_CSS@ {
    border-style: none solid solid solid;
    border-color: #81939b;
    border-width: 1px;
    overflow: hidden;
    background-image: url(../images/accordion/tab_collapsed_gradient.png);
    background-repeat: repeat-x;
    background-color: #F8F8F9;
    background-position: top;
    height: 19px;
}

.AccdHeader@THEME_CSS@ .AccdRefreshBtn@THEME_CSS@, .AccdHeader@THEME_CSS@ .AccdOpenAllBtn@THEME_CSS@, .AccdHeader@THEME_CSS@ .AccdCloseAllBtn@THEME_CSS@, .AccdHeader@THEME_CSS@ .AccdDivider@THEME_CSS@ {
    float:right;
    margin-right: 3px;
}

.AccdRefreshBtn@THEME_CSS@ {
    cursor: pointer;
}

.AccdOpenAllBtn@THEME_CSS@ {
    cursor: pointer;
}

.AccdCloseAllBtn@THEME_CSS@ {
    cursor: pointer;
} 

.AccdDivider@THEME_CSS@ {
    background-color:#C7C8CA;
    height:15px;
    width:1px;
}

.AccdTabExpanded@THEME_CSS@ {
    border-style: none solid solid solid;
    border-color: #81939b;
    border-width: 1px;
    background: #386787 url(../images/accordion/tab_expanded_gradient.png) repeat-x top;
    cursor: pointer;
}

.AccdTabCollapsed@THEME_CSS@ {
    border-style: none solid solid solid;
    border-color: #81939b;
    border-width: 1px;
    background: #F8F8F9 url(../images/accordion/tab_collapsed_gradient.png) repeat-x top;
    cursor: pointer;
}

.AccdTabExpanded@THEME_CSS@ a, .AccdTabCollapsed@THEME_CSS@ a {
    display: block;
    padding: 4px 6px 4px 6px;
}

.AccdTabExpanded@THEME_CSS@ a:link,
.AccdTabExpanded@THEME_CSS@ a:visited,
.AccdTabExpanded@THEME_CSS@ a:active {
    color: #FFFFFF;
}

.AccdTabCollapsed@THEME_CSS@ a:link,
.AccdTabCollapsed@THEME_CSS@ a:visited,
.AccdTabCollapsed@THEME_CSS@ a:active {
    color: #333333; 
}

.AccdTabExpanded@THEME_CSS@ a:hover {
    background: #DBE5ED url(../images/accordion/tab_expanded_gradient.png) repeat-x top;
    color: #333333; 
}

.AccdTabCollapsed@THEME_CSS@ a:hover {
    background: #DBE5ED url(../images/accordion/tab_collapsed_gradient.png) repeat-x top;
}

.AccdTabTitle@THEME_CSS@ {
    font-weight: bold;
}

.AccdTabTitle@THEME_CSS@ a:link,
.AccdTabTitle@THEME_CSS@ a:visited,
.AccdTabTitle@THEME_CSS@ a:hover,
.AccdTabTitle@THEME_CSS@ a:active {
    text-decoration: none;
}

.AccdDownTurner@THEME_CSS@, .AccdRightTurner@THEME_CSS@ {
    margin-top:8px;
    margin-left:5px;
    margin-right:5px;
    float: left;
    width: 7px;
    height: 7px;
}

.AccdTabExpanded@THEME_CSS@ .AccdDownTurner@THEME_CSS@ {
    background: transparent url(../images/accordion/tab_expanded_turner.png);
    cursor: pointer;
}

.AccdTabCollapsed@THEME_CSS@ .AccdRightTurner@THEME_CSS@ {
    background: transparent url(../images/accordion/tab_collapsed_turner.png);
    cursor: pointer;
}

.AccdTabMenu@THEME_CSS@ {
    margin-top: 5px;
    margin-right: 5px;
    float: right;
    background-image: url(../images/accordion/menu.GIF);
    cursor: pointer;
    height:12px;
    width:13px;
}

.AccdTabMenuCue@THEME_CSS@ {
    margin-top: 5px;
    margin-right: 5px;
    float: right;
    cursor: pointer;
    height:6px;
    width:9px;
}

.AccdTabExpanded@THEME_CSS@ .AccdTabMenuCue@THEME_CSS@ {
    background-image: url(../images/accordion/tab_expanded_droparrow.png);
}

.AccdTabCollapsed@THEME_CSS@ .AccdTabMenuCue@THEME_CSS@ {
    background-image: url(../images/accordion/tab_collapsed_droparrow.png);
}

.AccdTabMenuContainer@THEME_CSS@ {
    position:absolute;
    display:none;
}
.AccdTabMenuItems@THEME_CSS@ {
    background: none;
    padding: 1px;
}
.AccdTabMenuContainer@THEME_CSS@ .menuItem {
    display: block;
    cursor: pointer; 
    padding: 2px 6px 2px 6px;
    margin-bottom: 1px; /* in order to keep the outline fully visible */
    font-size: 11px;
    //font-weight: bold;
    color: #000000;
    text-decoration: none;
}

.AccdTabContent@THEME_CSS@ {
    background-color: #FFFFFF;
    padding: 5px;
    overflow: auto;
    border-style: solid solid solid solid;
    border-color: #81939b;
    border-width: 1px;
    height: 100px;   /* default height, but can be overridden */
 }
