/*============================================================================*/
/* Bubble                                                                     */
/*============================================================================*/

.BubbleDiv@THEME_CSS@ {
    position:absolute;
    width:20em;
    z-index:99;    
}

.BubbleShadow@THEME_CSS@ {
    display: block;
    background: #98A0A5;
    border: 1px solid #98A0A5;
}

.Bubble@THEME_CSS@ {
    background: #ffffff; 
    border: 1px solid #98A0A5; 
    position: relative; 
    padding: 0px;
    font-weight: normal;
    left: -5px;
    top: -5px;
}

.BubbleShadow@THEME_CSS@, .Bubble@THEME_CSS@ {
    -moz-border-radius: 5px;
}

.Bubble@THEME_CSS@ .bottomLeftArrow@THEME_CSS@, .Bubble@THEME_CSS@
.bottomRightArrow@THEME_CSS@, .Bubble@THEME_CSS@ .topLeftArrow@THEME_CSS@, 
.Bubble@THEME_CSS@ .topRightArrow@THEME_CSS@ {
    margin: 0px;
    width: 44px;
    height: 15px;
    position: relative;
    display: none;
}

.Bubble@THEME_CSS@ .bottomLeftArrow@THEME_CSS@ {
    background-image: url(../images/bubble/bottomLeftArrow.png);
    top:0px;
    left:5px;
    float:left;
}

.Bubble@THEME_CSS@ .bottomRightArrow@THEME_CSS@ {
    background-image: url(../images/bubble/bottomRightArrow.png);
    top:0px;
    left:-5px;
    float:right;
}

.Bubble@THEME_CSS@ .topLeftArrow@THEME_CSS@ {
    background-image: url(../images/bubble/topLeftArrow.png);
    left:5px;
    float:left;
}

.Bubble@THEME_CSS@ .topRightArrow@THEME_CSS@ {
    background-image: url(../images/bubble/topRightArrow.png);
    left:-5px;
    float:right;
}

.BubbleHeader@THEME_CSS@ {
    overflow: auto;
    margin-right: 1px;
    background-color: #E5E9ED;
}

.BubbleTitle@THEME_CSS@ {
    float: left;
    font-size: 1.0em;
    font-weight: bold;
    color: #5B87A5;
    width: 75%;
    padding: 0;
}

.BubbleCloseBtn@THEME_CSS@ {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-image: url(../images/bubble/dismiss_icon.png);
    width: 15px;
    height: 14px;
}

.BubbleTitle@THEME_CSS@, .BubbleContent@THEME_CSS@ {
    margin:10px;
}

.BubbleContent@THEME_CSS@ {
    clear: both;
}
