/**
 * The contents of this file are subject to the terms
 * of the Common Development and Distribution License
 * (the License). You may not use this file except in
 * compliance with the License.
 * 
 * You can obtain a copy of the license at
 * https://woodstock.dev.java.net/public/CDDLv1.0.html.
 * See the License for the specific language governing
 * permissions and limitations under the License.
 * 
 * When distributing Covered Code, include this CDDL
 * Header Notice in each file and include the License file
 * at https://woodstock.dev.java.net/public/CDDLv1.0.html.
 * If applicable, add the following below the CDDL Header,
 * with the fields enclosed by brackets [] replaced by
 * you own identifying information:
 * "Portions Copyrighted [year] [name of copyright owner]"
 * 
 * Copyright 2008 Sun Microsystems, Inc. All rights reserved.
 */

/* CHECKBOXES AND RADIO BUTTONS */
.CbLbl@THEME_CSS@, CbLblDis@THEME_CSS@ {
	vertical-align: 1px;
}
.CbImg@THEME_CSS@, .CbImgDis@THEME_CSS@,
	vertical-align: -6px;
}
.CbReadOnly@THEME_CSS@,.RbReadOnly@THEME_CSS@ {
         filter: alpha(opacity=45); 
}
.CbDis@THEME_CSS@, .RbDis@THEME_CSS@,
.RbImgDis@THEME_CSS@, CbImgDis@THEME_CSS@ {
         filter: alpha(opacity=40);
}
/*---*/

/* PROPERTY SHEET */
div.ConTblCl2Div@THEME_CSS@ .CbSpn@THEME_CSS@ .CbLbl@THEME_CSS@ {
	vertical-align:middle;
}
div.ConTblCl2Div@THEME_CSS@ .CbSpn@THEME_CSS@ input[type=checkbox] {
	margin-top:-5px;
}
/*---*/

/** DRAG AND DROP */
.dojoDndWebuiItemDragged {
    filter: alpha(opacity=50); 
}
/*---*/

/* TABLE2 */
.table2@THEME_CSS@ .bg@THEME_CSS@ {
	position:relative;
	float:none;
}
/*---*/
/* MODAL WINDOW */
.MdlWinTransparent50@THEME_CSS@ {
    filter:alpha(opacity=50);
    -khtml-opacity: 0.5;
}

.MdlWinOpaque@THEME_CSS@ {
    filter:alpha(opacity=100);
    -khtml-opacity: 1;
}

