<div dojoAttachPoint="domNode">
  <div dojoAttachPoint="labelNode" class="AccdTabCollapsed@THEME_CSS@">
      <div dojoAttachPoint="turnerContainer" class="AccdRightTurner@THEME_CSS@">
      </div>
      <div dojoAttachPoint="menuContainer" class="hidden@THEME_CSS@">
      </div>
      <div dojoAttachPoint="titleContainer" class="AccdTabTitle@THEME_CSS@">
          <a dojoAttachPoint="titleHref"></a>
      </div>
  </div>
  <div dojoAttachPoint="containerNode" class="AccdTabContent@THEME_CSS@" style="display:none">
  </div>
</div>