<div dojoAttachPoint="domNode" class="inlineAlert_4@THEME_CSS@">
  <table border="0" cellspacing="0" cellpadding="0" title="">
    <tr>
      <td class="topLeftCorner@THEME_CSS@">
        <span dojoAttachPoint="topLeftContainer"></span>
      </td>
      <td class="topMiddle@THEME_CSS@">
        <span dojoAttachPoint="topMiddleContainer"></span>
      </td>
      <td class="topRightCorner@THEME_CSS@">
        <span dojoAttachPoint="topRightContainer"></span>
      </td>
    </tr>
    <tr class="middleRow@THEME_CSS@">
      <td class="leftMiddle@THEME_CSS@">
        <span dojoAttachPoint="leftMiddleContainer"></span>
      </td>
      <td>
        <div class="middle@THEME_CSS@">
          <div class="header@THEME_CSS@">
            <span dojoAttachPoint="imageContainer"></span>
            <span class="label@THEME_CSS@">
              <span dojoAttachPoint="summaryContainer"></span>
            </span>
          </div>
          <div class="details@THEME_CSS@">
            <span class="label@THEME_CSS@">
              <span dojoAttachPoint="detailContainer"></span>
            </span>
            <span dojoAttachPoint="detailContainerLink"></span>
          </div>
        </div>
      </td>
      <td class="rightMiddle@THEME_CSS@">
        <span dojoAttachPoint="rightMiddleContainer"></span>
      </td>
    </tr>
    <tr>
      <td class="bottomLeftCorner@THEME_CSS@">
        <span dojoAttachPoint="bottomLeftContainer"></span>
      </td>
      <td class="bottomMiddle@THEME_CSS@">
        <span dojoAttachPoint="bottomMiddleContainer"></span>
      </td>
      <td class="bottomRightCorner@THEME_CSS@">
        <span dojoAttachPoint="bottomRightContainer"></span>
      </td>
    </tr>
  </table>
</div>
