<div dojoAttachPoint="domNode" class="progressBar_4@THEME_CSS@">
    <div dojoAttachPoint="topTextContainer" class="operationLabel@THEME_CSS@" hidden@THEME_CSS@></div>
    <div dojoAttachPoint="barContainer">
        <div dojoAttachPoint="innerBarContainer"></div>
        <div dojoAttachPoint="innerBarOverlayContainer" class="barLabel@THEME_CSS@ hidden@THEME_CSS@"></div>
        <div dojoAttachPoint="busyImageContainer" class="busy@THEME_CSS@ hidden@THEME_CSS@"></div>
    </div>
    <div dojoAttachPoint="failedStateContainer" class="failure@THEME_CSS@ hidden@THEME_CSS@">
      <div dojoAttachPoint="failedLabelContainer" class="failureLabel@THEME_CSS@ hidden@THEME_CSS@"></div>
    </div>
    <div dojoAttachPoint="rightControlsContainer" class="buttonsRight@THEME_CSS@ hidden@THEME_CSS@"></div>
    <div class="clear@THEME_CSS@"></div>
    <div dojoAttachPoint="bottomTextContainer" class="statusLabel@THEME_CSS@ hidden@THEME_CSS@"
         role="wairole:progressbar" waistate:valuenow="0" waistate:valuemin="0"
         waistate:valuemax="100"></div> 
    <div dojoAttachPoint="bottomControlsContainer" class="buttonsBottom@THEME_CSS@ hidden@THEME_CSS@"></div>
    <div dojoAttachPoint="logContainer" class="log@THEME_CSS@ hidden@THEME_CSS@"></div>
    <input dojoAttachPoint="hiddenFieldNode" type="hidden"></input>
</div>
