<div dojoAttachPoint="domNode">
    <table dojoAttachPoint="tableContainer" cellpadding="0" cellspacing="0" style="padding:0px;">
        <tr dojoAttachPoint="rowContainer">
            <td dojoAttachPoint="rowNode" class="RBGRPCaption@THEME_CSS@">
                <span dojoAttachPoint="labelContainer"></span>
            </td>
            <td dojoAttachPoint="contentsRowNode">
                <ul dojoAttachPoint="ulContainer">
                    <li dojoAttachPoint="liNode">
                        <span dojoAttachPoint="contentsContainer"></span> 
                    </li>
                </ul>
            </td>
        </table>
        <div dojoAttachPoint="divContainer" class="RBGRPClear@THEME_CSS@"></div>
</div> 
