<div dojoAttachPoint="domNode" class="Tbl2Grp@THEME_CSS@">
  <table dojoAttachPoint="tableContainer" cellpadding="0" cellspacing="0" class="Tbl@THEME_CSS@"
      style="padding:0px">
    <thead dojoAttachPoint="theadContainer">
      <!-- Group Header -->
      <tr dojoAttachPoint="groupHeaderContainer" class="Tbl2GrpHdr@THEME_CSS@ hidden@THEME_CSS@">
        <th dojoAttachPoint="groupHeaderNode" scope="colgroup" style="padding:0px;" tabindex="-1">
          <span dojoAttachPoint="groupHeaderTextNode" class="Tbl2GrpHdrTxt@THEME_CSS@"></span>
          <span dojoAttachPoint="groupHeaderRowsTextNode" class="Tbl2GrpHdrRowsTxt@THEME_CSS@"></span>
        </th>
      </tr>
      <!-- Column Headers -->
      <tr dojoAttachPoint="colHeaderContainer" class="Tbl2ColHdr@THEME_CSS@ hidden@THEME_CSS@">
        <th dojoAttachPoint="colHeaderNode" scope="col" style="padding:0px;" tabindex="-1"></th>
      </tr>
    </thead>
    <tbody dojoAttachPoint="tbodyContainer">
      <!-- Rows -->
      <tr dojoAttachPoint="rowContainer" class="hidden@THEME_CSS@">
        <td dojoAttachPoint="rowNode" style="padding:0px;" tabindex="-1"></td>
      </tr>
    </tbody>
    <tfoot dojoAttachPoint="tfootContainer">
      <!-- Column Footers -->
      <tr dojoAttachPoint="colFooterContainer" class="Tbl2ColFtr@THEME_CSS@ hidden@THEME_CSS@">
        <td dojoAttachPoint="colFooterNode" style="padding:0px;" tabindex="-1"></td>
      </tr>
      <!-- Group Footer -->
      <tr dojoAttachPoint="groupFooterContainer" class="Tbl2GrpFtr@THEME_CSS@ hidden@THEME_CSS@">
        <td dojoAttachPoint="groupFooterNode" style="padding:0px;" tabindex="-1"></td>
      </tr>
    </tfoot>
  </table>
</div>
