<div dojoAttachPoint="domNode" class="Tbl2@THEME_CSS@">
  <!-- Table title -->
  <div dojoAttachPoint="titleContainer" class="Tbl2Ttl@THEME_CSS@ hidden@THEME_CSS@"></div>
  <div dojoAttachPoint="marginContainer" class="Tbl2Mgn@THEME_CSS@">
    <!-- Table actions -->
    <div dojoAttachPoint="actionsContainer" class="Tbl2Act@THEME_CSS@ hidden@THEME_CSS@"></div>
    <!-- Sort panel -->
    <div dojoAttachPoint="sortPanelContainer" class="hidden@THEME_CSS@"></div>
    <!-- Filter panel -->
    <div dojoAttachPoint="filterPanelContainer" class="hidden@THEME_CSS@"></div>
    <!-- Preferences panel -->
    <div dojoAttachPoint="preferencesPanelContainer" class="hidden@THEME_CSS@"></div>
    <!-- Row Groups -->
    <div dojoAttachPoint="rowGroupsContainer">
        <div dojoAttachPoint="rowGroupsNode" class="Tbl2Grps@THEME_CSS@"></div>
    </div>
    <!-- Table Footer -->
    <div dojoAttachPoint="tableFooterContainer" class="hidden@THEME_CSS@"></div>
  </div>
</div>
