<?xml version="1.0" encoding="UTF-8"?>
<!--
 The contents of this file are subject to the terms
 of the Common Development and Distribution License
 (the License). You may not use this file except in
 compliance with the License.

 You can obtain a copy of the license at
 https://woodstock.dev.java.net/public/CDDLv1.0.html.
 See the License for the specific language governing
 permissions and limitations under the License.
 
 When distributing Covered Code, include this CDDL
 Header Notice in each file and include the License file
 at https://woodstock.dev.java.net/public/CDDLv1.0.html.
 If applicable, add the following below the CDDL Header,
 with the fields enclosed by brackets [] replaced by
 you own identifying information:
 "Portions Copyrighted [year] [name of copyright owner]"
 
 Copyright 2008 Sun Microsystems, Inc. All rights reserved.
 -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <context-param>
        <description>Switch off caching. You can remove this parameter or 
          comment it out when this app goes into production.
        </description>
        <param-name>jmaki-usecache</param-name>
        <param-value>false</param-value>
    </context-param>

    <!-- Show Code Servlet -->
    <context-param>
        <description>Switch off caching. You can remove this parameter or 
        comment it out when this app goes into production.</description>
        <param-name>jmaki-usecache</param-name>
        <param-value>false</param-value>
    </context-param>

    <!-- Button Servlet -->
    <servlet>
        <servlet-name>ButtonServlet</servlet-name>
        <servlet-class>button.ButtonServlet</servlet-class>
    </servlet>

    <!-- Show Code Servlet -->
    <servlet>
        <servlet-name>ShowCodeServlet</servlet-name>
        <servlet-class>index.ShowCodeServlet</servlet-class>
    </servlet>

    <!-- Xml Http Proxy Servlet -->
    <servlet>
        <servlet-name>XmlHttpProxy</servlet-name>
        <servlet-class>jmaki.xhp.XmlHttpProxyServlet</servlet-class>
    </servlet>

    <!-- Button Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>ButtonServlet</servlet-name>
        <url-pattern>/ButtonServlet</url-pattern>
    </servlet-mapping>

    <!-- Show Code Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>ShowCodeServlet</servlet-name>
        <url-pattern>/ShowCodeServlet</url-pattern>
    </servlet-mapping>

    <!-- Xml Http Proxy Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>XmlHttpProxy</servlet-name>
        <url-pattern>/xhp</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
