<%= add_widget '@JS_NAME@.checkboxGroup',
      :args => { :name => 'cbgrp1' },
      :value => [
         { :label => { :value => 'Checkbox 1' }, :value => 'cb1',
           :checked => false}
      ]
-%>
