<%= add_widget '@JS_NAME@.modalWindow',
      :args => { :closeButton => true, :okButton => true },
      :value => { :title => 'Attention', :contents => [
         { :html => 'Dialog with standard set of buttons' }
         ]
      }
-%>
