<div dojoAttachPoint="domNode">
  <div dojoAttachPoint="titleContainer" class="AccdTabCollapsed@THEME_CSS@">
      <div dojoAttachPoint="turnerContainer" class="AccdRightTurner@THEME_CSS@">
      </div>
      <div dojoAttachPoint="menuContainer" class="hidden@THEME_CSS@">
      </div>
      <div dojoAttachPoint="titleNode" class="AccdTabTitle@THEME_CSS@">
          <a dojoAttachPoint="titleHref"></a>
      </div>
  </div>
  <div dojoAttachPoint="contentNode" class="AccdTabContent@THEME_CSS@" style="display:none">
  </div>
  <input dojoAttachPoint="hiddenFieldNode" type="hidden"></input>
</div>