<div dojoAttachPoint="_domNode" role="wairole:tablist">
  <div dojoAttachPoint="_headerContainer">
        <div dojoAttachPoint="_expandAllContainer">
            <span dojoAttachPoint="_expandAllImgContainer" role="wairole:link"></span>
        </div>
        <div dojoAttachPoint="_collapseAllContainer">
            <span dojoAttachPoint="_collapseAllImgContainer" role="wairole:link"></span>
        </div>
        <div dojoAttachPoint="_dividerNodeContainer" role="wairole:separator"></div>
        <div dojoAttachPoint="_refreshNodeContainer" role="wairole:link">
            <span dojoAttachPoint="_refreshImgContainer"></span>
        </div>
    </div>
    <div dojoAttachPoint="_tabsContainer"></div>
</div>