<div dojoAttachPoint="domNode" role="wairole:tablist">
  <div dojoAttachPoint="headerContainer">
        <div dojoAttachPoint="expandAllContainer">
            <span dojoAttachPoint="expandAllImgContainer" role="wairole:link"></span>
        </div>
        <div dojoAttachPoint="collapseAllContainer">
            <span dojoAttachPoint="collapseAllImgContainer" role="wairole:link"></span>
        </div>
        <div dojoAttachPoint="dividerNodeContainer" role="wairole:separator"></div>
        <div dojoAttachPoint="refreshNodeContainer" role="wairole:link">
            <span dojoAttachPoint="refreshImgContainer"></span>
        </div>
    </div>
    <div dojoAttachPoint="tabsContainer"></div>
</div>