<div dojoAttachPoint="domNode" class="Accordion@THEME_CSS@">
  <div dojoAttachPoint="headerContainer" class="AccdHeader@THEME_CSS@">
        <div dojoAttachPoint="expandAllContainer" class="hidden@THEME_CSS@">
            <span dojoAttachPoint="expandAllImgContainer"></span>
        </div>
        <div dojoAttachPoint="collapseAllContainer" class="hidden@THEME_CSS@">
            <span dojoAttachPoint="collapseAllImgContainer"></span>
        </div>
        <div dojoAttachPoint="dividerNodeContainer" class="hidden@THEME_CSS@"></div>
        <div dojoAttachPoint="refreshNodeContainer" class="hidden@THEME_CSS@">
            <span dojoAttachPoint="refreshImgContainer"></span>
        </div>
    </div>
</div>