<div dojoAttachPoint="_domNode">
  <div dojoAttachPoint="_titleContainer">
      <div dojoAttachPoint="_turnerContainer">
      </div>
      <div dojoAttachPoint="_menuContainer">
      </div>
      <div dojoAttachPoint="_titleNode" role="wairole:tab">
          <a dojoAttachPoint="_titleHref"></a>
      </div>
  </div>
  <div dojoAttachPoint="_contentNode" role="wairole:tabpanel">
  </div>
  <a dojoAttachPoint="_contentEnd"></a>
  <input dojoAttachPoint="_hiddenFieldNode" type="hidden"></input>
</div>