<div dojoAttachPoint="_domNode" class="inlineAlert_4@THEME_CSS@">
  <table border="0" cellspacing="0" cellpadding="0" title="">
    <tr>
      <td class="topLeftCorner@THEME_CSS@">
        <span dojoAttachPoint="_topLeftContainer"></span>
      </td>
      <td class="topMiddle@THEME_CSS@">
        <span dojoAttachPoint="_topMiddleContainer"></span>
      </td>
      <td class="topRightCorner@THEME_CSS@">
        <span dojoAttachPoint="_topRightContainer"></span>
      </td>
    </tr>
    <tr class="middleRow@THEME_CSS@">
      <td class="leftMiddle@THEME_CSS@">
        <span dojoAttachPoint="_leftMiddleContainer"></span>
      </td>
      <td>
        <div class="middle@THEME_CSS@">
          <div class="header@THEME_CSS@">
            <span dojoAttachPoint="_imageContainer"></span>
            <span class="label@THEME_CSS@">
              <span dojoAttachPoint="_summaryContainer"></span>
            </span>
          </div>
          <div class="details@THEME_CSS@">
            <span class="label@THEME_CSS@">
              <span dojoAttachPoint="_detailContainer"></span>
            </span>
            <span dojoAttachPoint="_detailContainerLink"></span>
          </div>
        </div>
      </td>
      <td class="rightMiddle@THEME_CSS@">
        <span dojoAttachPoint="_rightMiddleContainer"></span>
      </td>
    </tr>
    <tr>
      <td class="bottomLeftCorner@THEME_CSS@">
        <span dojoAttachPoint="_bottomLeftContainer"></span>
      </td>
      <td class="bottomMiddle@THEME_CSS@">
        <span dojoAttachPoint="_bottomMiddleContainer"></span>
      </td>
      <td class="bottomRightCorner@THEME_CSS@">
        <span dojoAttachPoint="_bottomRightContainer"></span>
      </td>
    </tr>
  </table>
</div>
