<div dojoAttachPoint="_domNode" class="BubbleDiv@THEME_CSS@" role="wairole:dialog">
  <div class="BubbleShadow@THEME_CSS@">
    <div class="Bubble@THEME_CSS@">
      <div class="BubbleHeader@THEME_CSS@"  dojoAttachPoint="_bubbleHeader" >

        <div class="BubbleTitle@THEME_CSS@" dojoAttachPoint="_bubbleTitle">
           <span dojoAttachPoint="_titleNode"> </span>
        </div>
        <div class="BubbleCloseBtn@THEME_CSS@" dojoAttachPoint="_closeBtn"></div>
      </div>
      <div class="BubbleContent@THEME_CSS@" dojoAttachPoint="_contentNode">
        <div dojoAttachPoint="_childNode"> </div>
      </div>
      <div dojoAttachPoint="_bottomLeftArrow" class="bottomLeftArrow@THEME_CSS@"></div>
      <div dojoAttachPoint="_bottomRightArrow" class="bottomRightArrow@THEME_CSS@"></div>
      <div dojoAttachPoint="_topLeftArrow" class="topLeftArrow@THEME_CSS@"></div>
      <div dojoAttachPoint="_topRightArrow" class="topRightArrow@THEME_CSS@"></div>
    </div>
  </div>
  <a dojoAttachPoint="_contentEnd" tabindex="-1"></a>
</div>
