<div dojoAttachPoint="_domNode">    
  <iframe dojoAttachPoint="_shimContainer" style="display: none;" src="javascript:false;" frameBorder="0" scrolling="no"></iframe>
   <div class="CalPopBtnDiv@THEME_CSS@">                   
	<span class="CalPopFldImg@THEME_CSS@">
          <!-- Place holder for calendar icon -->  
	  <span dojoAttachPoint="_linkNode"></span>
        </span>  
    <div class="CalPopShdDiv@THEME_CSS@" dojoAttachPoint="_calendarContainer">    
        <div class="CalPopShd2Div@THEME_CSS@">    
            <div dojoAttachPoint="_calendarMenuContainer" class="CalPopDiv@THEME_CSS@">              
                <!-- Table layout for the top border of the calendar header -->   
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td width="6">
                            <span dojoAttachPoint="_topLeftImageContainer"></span>
                        </td>
                        <td width="100%" class="DatSelTopMiddle@THEME_CSS@">
                            <span dojoAttachPoint="_spacerImageContainer"></span>
                        </td>
                        <td width="6">
                            <span dojoAttachPoint="_topRightImageContainer"></span>
                        </td>
                    </tr>
                </table>      
                <!-- Calenar header - today's date and close button -->
                <div class="DatSelContent@THEME_CSS@">
                    <div dojoAttachPoint="_todayDateContainer" class="DatSelDate@THEME_CSS@"></div>       
                    <span dojoAttachPoint="_closeButtonContainer"></span>        
                </div>      
                <div class="DatCalDiv@THEME_CSS@">
                    <!-- Calendar controls -->
                    <div class="DatSelDiv@THEME_CSS@">          
                        <div class="DatCalLeft@THEME_CSS@">
                            <span dojoAttachPoint="_previousLinkContainer"></span>
                            <span dojoAttachPoint="_monthMenuContainer"></span>
                            <span dojoAttachPoint="_nextLinkContainer"></span>
                        </div>	    	  
                        <div class="DatCalRight@THEME_CSS@">
                            <span dojoAttachPoint="_yearMenuContainer"></span>
                        </div>             
                    </div>
                    <div class="SkpMedGry1@THEME_CSS@"></div>
                    <div class="DatCalDiv@THEME_CSS@">
                        <table border="0" cellpadding="0" cellspacing="1" width="100%">
                            <tbody dojoAttachPoint="_tbodyContainer" class="DatCalTbl@THEME_CSS@">
                                <!-- Place holder for week days header -->    
                                <tr dojoAttachPoint="_weekDayRow">                
                                    <th dojoAttachPoint="_weekDayColumn" scope="col" align="center">
                                        <span dojoAttachPoint="_weekDayContainer" class="DatDayHdrTxt@THEME_CSS@"></span>
                                    </th>
                                </tr>                           
                                <!-- Place holder for days in the month  -->  
                                <tr dojoAttachPoint="_weekRowContainer">
                                    <td dojoAttachPoint="_dayColumnContainer" align="center">
                                        <a dojoAttachPoint="_dayLinkContainer"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>        
            </div>
        </div>
    </div>
    </div>
</div>

