<span dojoAttachPoint="_domNode">
    <span dojoAttachPoint="_labelContainer"></span>
    <br dojoAttachPoint="_brNode" class="hidden@THEME_CSS@"/>
    <select dojoAttachPoint="_listContainer">
        <option dojoAttachPoint="_optionNode" class="hidden@THEME_CSS@"></option>
        <optgroup dojoAttachPoint="_optionGroupContainer" class="hidden@THEME_CSS@">
            <option dojoAttachPoint="_memberOptionNode" class="hidden@THEME_CSS@"></option>
        </optgroup>
    </select>
    <input dojoAttachPoint="_submitterHiddenNode" type="hidden"></input>
</span>

