<span dojoAttachPoint="domNode">
    <span dojoAttachPoint="labelContainer"></span>
    <br dojoAttachPoint="brNode" class="hidden_@THEME_CSS@"/>
    <select dojoAttachPoint="listContainer" size="12" multiple="true">
        <option dojoAttachPoint="optionNode" class="hidden@THEME_CSS@"></option>
        <optgroup dojoAttachPoint="optionGroupContainer" class="hidden@THEME_CSS@">
            <option dojoAttachPoint="memberOptionNode" class="hidden@THEME_CSS@"></option>
        </optgroup>
    </select>
</span>

