<div dojoAttachPoint="_domNode" class="ConMgn@THEME_CSS@">
    <table dojoAttachPoint="_loginTable" border="0" cellspacing="0" cellpadding="0">
        <tbody dojoAttachPoint="_loginTbody">
            <!-- one or more table rows will be inserted here to accommodate for -->
            <!-- error messages, authentication data, login button and blank images -->
            <tr dojoAttachPoint="_alertRowContainer">
                <td dojoAttachPoint="_alertCellContainer" colspan="2" align="left"> 
                    <span dojoAttachPoint="_alertContainer"></span>
                </td>
            </tr>
            <tr dojoAttachPoint="_inputDataRowContainer">
                <td dojoAttachPoint="_labelContainerCell" nowrap="nowrap">
                        <div dojoAttachPoint="_labelContainer" 
                            class="logLbl@THEME_CSS@"></div>
                </td>
                <td dojoAttachPoint="_dataContainerCell" nowrap="nowrap">
                        <div dojoAttachPoint="_inputContainer" 
                            class="logInp@THEME_CSS@"></div>
                </td>
            </tr>
            <tr dojoAttachPoint="_textDataRowContainer">
                <td dojoAttachPoint="_textLabelContainerCell" nowrap="nowrap">
                        <div dojoAttachPoint="_textLabelContainer" 
                            class="logUsrLbl@THEME_CSS@"></div>
                </td>
                <td dojoAttachPoint="_textContainerCell" nowrap="nowrap">
                        <div dojoAttachPoint="_textContainer" 
                            class="logUsrNam@THEME_CSS@"></div>
                </td>
            </tr>
            <tr dojoAttachPoint="_stxtDataRowContainer">
                <td dojoAttachPoint="_stxtLabelContainerCell" nowrap="nowrap">
                        <div dojoAttachPoint="_stxtLabelContainer" 
                            class="logLblStxt@THEME_CSS@"></div>
                </td>
                <td dojoAttachPoint="_stxtContainerCell" nowrap="nowrap">
                        <div dojoAttachPoint="_stxtContainer" 
                            class="logStxt@THEME_CSS@"></div>
                </td>
            </tr>
            <tr dojoAttachPoint="_lastDataRowContainer">
                <td dojoAttachPoint="_lastLabelContainerCell" nowrap="nowrap">
                        <div dojoAttachPoint="_lastLabelContainer" 
                            class="logLblLst@THEME_CSS@"></div>
                </td>
                <td dojoAttachPoint="_lastDataContainerCell" nowrap="nowrap">
                        <div dojoAttachPoint="_lastInputContainer" 
                            class="logInpLst@THEME_CSS@"></div>
                </td>
            </tr>
            <tr dojoAttachPoint="_buttonRowContainer">
                <td dojoAttachPoint="_dotImageContainer">
                </td>
                <td dojoAttachPoint="_buttonContainer">
                    <span dojoAttachPoint="_loginButtonContainer" 
                          class="logBtn@THEME_CSS@">
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>