<div dojoAttachPoint="domNode" class="ConMgn@THEME_CSS@">
    <table dojoAttachPoint="loginTable" border="0" cellspacing="0" cellpadding="0">
        <tbody dojoAttachPoint="loginTbody">
            <!-- one or more table rows will be inserted here to accommodate for -->
            <!-- error messages, authentication data, login button and blank images -->
            <tr dojoAttachPoint="alertRowContainer">
                <td dojoAttachPoint="alertCellContainer" colspan="2" align="left"> 
                    <span dojoAttachPoint="alertContainer"></span>
                </td>
            </tr>
            <tr dojoAttachPoint="inputDataRowContainer">
                <td dojoAttachPoint="labelContainerCell" nowrap="nowrap">
                        <div dojoAttachPoint="labelContainer" 
                            class="logLbl@THEME_CSS@"></div>
                </td>
                <td dojoAttachPoint="dataContainerCell" nowrap="nowrap">
                        <div dojoAttachPoint="inputContainer" 
                            class="logInp@THEME_CSS@"></div>
                </td>
            </tr>
            <tr dojoAttachPoint="textDataRowContainer">
                <td dojoAttachPoint="textLabelContainerCell" nowrap="nowrap">
                        <div dojoAttachPoint="textLabelContainer" 
                            class="logUsrLbl@THEME_CSS@"></div>
                </td>
                <td dojoAttachPoint="textContainerCell" nowrap="nowrap">
                        <div dojoAttachPoint="textContainer" 
                            class="logUsrNam@THEME_CSS@"></div>
                </td>
            </tr>
            <tr dojoAttachPoint="stxtDataRowContainer">
                <td dojoAttachPoint="stxtLabelContainerCell" nowrap="nowrap">
                        <div dojoAttachPoint="stxtLabelContainer" 
                            class="logLblStxt@THEME_CSS@"></div>
                </td>
                <td dojoAttachPoint="stxtContainerCell" nowrap="nowrap">
                        <div dojoAttachPoint="stxtContainer" 
                            class="logStxt@THEME_CSS@"></div>
                </td>
            </tr>
            <tr dojoAttachPoint="lastDataRowContainer">
                <td dojoAttachPoint="lastLabelContainerCell" nowrap="nowrap">
                        <div dojoAttachPoint="lastLabelContainer" 
                            class="logLblLst@THEME_CSS@"></div>
                </td>
                <td dojoAttachPoint="lastDataContainerCell" nowrap="nowrap">
                        <div dojoAttachPoint="lastInputContainer" 
                            class="logInpLst@THEME_CSS@"></div>
                </td>
            </tr>
            <tr dojoAttachPoint="buttonRowContainer">
                <td dojoAttachPoint="dotImageContainer">
                </td>
                <td dojoAttachPoint="buttonContainer">
                    <span dojoAttachPoint="loginButtonContainer" 
                          class="logBtn@THEME_CSS@">
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>