<span dojoAttachPoint="_domNode" class="hidden@THEME_CSS@">
    <div dojoAttachPoint="_overlay" class="MdlWinOverlay@THEME_CSS@ MdlWinTransparent50@THEME_CSS@"></div>
    <div class="MdlWinCenteringDiv@THEME_CSS@">
        <div dojoAttachPoint="_window" class="MdlWinWindow@THEME_CSS@" >
            <div dojoAttachPoint="_windowTitleBar" class="MdlWinWindowTitleBar@THEME_CSS@">
                <div dojoAttachPoint="_windowTitleText" class="MdlWinWindowTitleText@THEME_CSS@">
                    
                </div>
                <div dojoAttachPoint="_windowControlsContainer" class="MdlWinWindowControlsContainer@THEME_CSS@">
                    <span dojoAttachPoint="_closeButton" class="MdlWinWindowControl@THEME_CSS@ MdlWinCloseButton@THEME_CSS@">   </span>
                </div>
            </div>                            
            
            <!-- Title, Description & dynamic content -->
            <div dojoAttachPoint="_contentContainer" class="MdlWinContentContainer@THEME_CSS@">
            </div>
                                
            <div dojoAttachPoint="_windowFooter" class="MdlWinWindowFooter@THEME_CSS@">
                <span dojoAttachPoint="_footerContent" class="hidden@THEME_CSS@ MdlWinFooterContent@THEME_CSS@" >                   
                </span>
                <span dojoAttachPoint="_actionContainer" class="hidden@THEME_CSS@ MdlWinActionContainer@THEME_CSS@" >                   
                </span>
                
            </div>         
            
            
            
        </div>
    </div>
    
</span>

