<div dojoAttachPoint="_domNode" class="progressBar_4@THEME_CSS@">
    <div dojoAttachPoint="_topTextContainer" class="operationLabel@THEME_CSS@" hidden@THEME_CSS@></div>
    <div dojoAttachPoint="_barContainer">
        <div dojoAttachPoint="_innerBarContainer"></div>
        <div dojoAttachPoint="_innerBarOverlayContainer" class="barLabel@THEME_CSS@ hidden@THEME_CSS@"></div>
        <div dojoAttachPoint="_busyImageContainer" class="busy@THEME_CSS@ hidden@THEME_CSS@"></div>
    </div>
    <div dojoAttachPoint="_failedStateContainer" class="failure@THEME_CSS@ hidden@THEME_CSS@">
      <div dojoAttachPoint="_failedLabelContainer" class="failureLabel@THEME_CSS@ hidden@THEME_CSS@"></div>
    </div>
    <div dojoAttachPoint="_rightControlsContainer" class="buttonsRight@THEME_CSS@ hidden@THEME_CSS@"></div>
    <div class="clear@THEME_CSS@"></div>
    <div dojoAttachPoint="_bottomTextContainer" class="statusLabel@THEME_CSS@ hidden@THEME_CSS@"
         role="wairole:progressbar" waistate:valuenow="0" waistate:valuemin="0"
         waistate:valuemax="100"></div> 
    <div dojoAttachPoint="_bottomControlsContainer" class="buttonsBottom@THEME_CSS@ hidden@THEME_CSS@"></div>
    <div dojoAttachPoint="_logContainer" class="log@THEME_CSS@ hidden@THEME_CSS@"></div>
    <input dojoAttachPoint="_hiddenFieldNode" type="hidden"></input>
</div>
