<div dojoAttachPoint="domNode">
    <div dojoAttachPoint="textContainer">&nbsp;</div>
    <div dojoAttachPoint="controlContainer">
	<!--
	IE requires that we wrap the notInterested, clear, and modeToggleimage divs 
	in another div, else the float:left property on the image's div does not 
	take effect, resulting in a bad layout.
        -->
	<div><div dojoAttachPoint="notInterestedNode"></div></div>
	<div dojoAttachPoint="gradeContainer">
	    <div dojoAttachPoint="gradeNode"></div>
        </div>
        <div dojoAttachPoint="spacerNode"></div>
	<div><div dojoAttachPoint="clearNode"></div></div>
	<div><div dojoAttachPoint="modeToggleNode"></div></div>
    </div>
    <input dojoAttachPoint="hiddenFieldNode" type="hidden"></input>
</div>
