<div dojoAttachPoint="_domNode">
    <div dojoAttachPoint="_textContainer">&nbsp;</div>
    <div dojoAttachPoint="_controlContainer">
	<!--
	IE requires that we wrap the notInterested, clear, and modeToggleimage divs 
	in another div, else the float:left property on the image's div does not 
	take effect, resulting in a bad layout.
        -->
	<div><div dojoAttachPoint="_notInterestedNode"></div></div>
	<div dojoAttachPoint="_gradeContainer">
	    <div dojoAttachPoint="_gradeNode"></div>
        </div>
        <div dojoAttachPoint="_spacerNode"></div>
	<div><div dojoAttachPoint="_clearNode"></div></div>
	<div><div dojoAttachPoint="_modeToggleNode"></div></div>
    </div>
    <input dojoAttachPoint="_hiddenFieldNode" type="hidden"></input>
</div>
