<div dojoAttachPoint="domNode" class="table2@THEME_CSS@">
  <!-- Table title -->
  <div dojoAttachPoint="captionContainer" class="title@THEME_CSS@ hidden@THEME_CSS@"></div>
  <!-- Table background -->
  <div dojoAttachPoint="bgContainer" class="bg@THEME_CSS@">
    <!-- Table actions -->
    <div dojoAttachPoint="actionsContainer" class="actionBar@THEME_CSS@ hidden@THEME_CSS@">
        <div dojoAttachPoint="actionsNode" class="actionList@THEME_CSS@"></div>
        <div dojoAttachPoint="controlsNode" class="controlsList@THEME_CSS@"></div>
    </div>
    <!-- Sort panel -->
    <div dojoAttachPoint="sortPanelContainer" class="hidden@THEME_CSS@"></div>
    <!-- Filter panel -->
    <div dojoAttachPoint="filterPanelContainer" class="hidden@THEME_CSS@"></div>
    <!-- Preferences panel -->
    <div dojoAttachPoint="preferencesPanelContainer" class="hidden@THEME_CSS@"></div>
    <!-- Spacer -->
    <div class="clear@THEME_CSS@ spacer@THEME_CSS@"></div>
    <!-- Row Groups -->
    <div dojoAttachPoint="rowGroupsContainer"></div>
  </div>
</div>
