<div dojoAttachPoint="_domNode" class="group@THEME_CSS@">
  <div dojoAttachPoint="_groupHeader" class="groupHeader@THEME_CSS@">
    <table border="0" cellpadding="0" cellspacing="0"> 
      <tr> 
        <th dojoAttachPoint="_groupHeaderCell" class="boldface@THEME_CSS@">            
          <div class="groupControls@THEME_CSS@">
            <span dojoAttachPoint="_groupHeaderControls"></span>
            <span dojoAttachPoint="_groupHeaderText" class="groupLabel@THEME_CSS@"></span>
          </div>
          <div class="paginationControls@THEME_CSS@">
            <span dojoAttachPoint="_rowsText" class="rowSelectionCount@THEME_CSS@"></span>            
            <span  dojoAttachPoint="_paginationButtonsNode" class="paginationButtons@THEME_CSS@"></span>            
          </div>
        </th> 
      </tr> 
    </table> 
  </div>
  <table  border="0" cellpadding="0" cellspacing="0">
      <!-- Column Headers -->
      <thead dojoAttachPoint="_thead">
        <tr dojoAttachPoint="_colHeaderRow" class="header@THEME_CSS@"> 
          <th dojoAttachPoint="_colHeaderCell" scope="col">
              <a dojoAttachPoint="_colHeaderLink" class="Hyp_sun4 boldface_sun4">                
              </a>
          </th>
        </tr> 
      </thead>
  </table>
  <div dojoAttachPoint="_tableContainer" class="tableScroller@THEME_CSS@">
    <table dojoAttachPoint="_table" width="100%" border="0" cellpadding="0" cellspacing="0">
      
      <!-- Rows -->
      <tbody dojoAttachPoint="_tbody">
        <tr dojoAttachPoint="_tableDataRow">
          <td dojoAttachPoint="_tableDataCell"></td>
        </tr>
      </tbody> 
    </table> 
  </div>
  <table  border="0" cellpadding="0" cellspacing="0">
       <!-- Column Footers -->
      <tfoot dojoAttachPoint="_tfoot"> 
        <tr dojoAttachPoint="_colFooterRow" class="footer@THEME_CSS@"> 
          <th dojoAttachPoint="_colFooterCell" scope="col"></th>
        </tr>
      </tfoot>
  </table> 
  <div dojoAttachPoint="_sortMenu" ></div>     
</div>
