<div dojoAttachPoint="_domNode" class="table2@THEME_CSS@">
  <!-- Table title -->
  <div dojoAttachPoint="_captionContainer" class="title@THEME_CSS@ hidden@THEME_CSS@"></div>
  <!-- Table background -->
  <div dojoAttachPoint="_bgContainer" class="bg@THEME_CSS@">
    <!-- Table actions -->
    <div dojoAttachPoint="_actionsContainer" class="actionBar@THEME_CSS@ hidden@THEME_CSS@">
        <div dojoAttachPoint="_actionsNode" class="actionList@THEME_CSS@"></div>
        <div dojoAttachPoint="_controlsNode" class="controlsList@THEME_CSS@"></div>
    </div>
    <!-- Clear/Spacer for panels -->
    <div class="clear@THEME_CSS@ spacer@THEME_CSS@ hidden@THEME_CSS@"></div>
    <!-- Sort panel -->
    <div dojoAttachPoint="_sortPanelContainer" class="hidden@THEME_CSS@"></div>
    <!-- Filter panel -->
    <div dojoAttachPoint="_filterPanelContainer" class="hidden@THEME_CSS@"></div>
    <!-- Preferences panel -->
    <div dojoAttachPoint="_preferencesPanelContainer" class="hidden@THEME_CSS@"></div>
    <!-- Clear/Spacer for groups -->
    <div class="clear@THEME_CSS@ spacer@THEME_CSS@"></div>
    <!-- Row Groups -->
    <div dojoAttachPoint="_rowGroupsContainer"></div>
  </div>
  <!-- Clear -->
  <div class="clear@THEME_CSS@"></div>
</div>
